@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a {
    text-decoration: none;
}

.category a {
    font-size: 0.8rem;
    font-weight: 600;
    color: #081a7d;
}

body > header {
    width: 100%;
    background: #081a7d;
    height: 60px;
    overflow-x: hidden;
    padding: 8px 24px;

    position: fixed;
    top: 0;
    z-index: 9999;
}

body > header h1 a {
    text-indent: -9999px;

}

body > header h1 a > img {
    width: 100px;

}

body > header ul li {
    display: inline-block;
    margin: 0 8px;
    float: left;
}

body > header ul {
    padding: 12px 0px;
    height: 42px;
    text-align: right;
    float: right;
}

body > header ul li > a {
    color: #c2c7df;
    text-decoration: none;
    font-size: 0.85rem;
}

section.container {
    padding-bottom: 64px;
    float: left;
    padding-top: 54px;
}

.container header {
    margin: 24px 0 0 0;
}

.container header h1 {
    color: #081a7d;
    font-size: 2.2rem;
    font-weight: 700;
}

.container #post {
    padding-bottom: 24px;
    padding-top: 24px;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    float: left;
}

.container .cards {
    float: left;
}

.container .cards figure {
    float: left;
    margin-right: 32px;
    width: 360px;
    height: 240px;
    object-fit: cover;
}

.container .cards figure img {
    border-radius: 3px;
}

.author,
.category {
    display: block;
}

time {
    color: #333;
    font-size: 0.85rem;
}

.container .cards h2 {
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.1;
}

#infinite-handle {
    text-align: center;
    display: inline-block;
    margin: 24px 0;
    width: 100%;
}

.container .cards span.author ul {
    display: inline-block;
}


.container .cards button,
.container .cards span.author big {
    display: inline-block;
    background: #081a7d;
    padding: 14px 46px;
    color: #fff;
    font-weight: 600;
    margin: 0 auto;
    border-radius: 4px;
}

.container .cards span.author big {
    padding: 4px 8px;
    font-size: 0.75rem;
    margin: 10px 0 0 0px;
}

.container .cards span.author span {
    color: #333;
    font-size: 0.75rem;
}

time img {
    display: inline-block;
    margin: 0 4px 0 0;
}

.author > img {
    display: inline-block;
    vertical-align: top;
    margin: 8px 12px 0px 0;
    width: 48px;
    border-radius: 50%;
    border: 2px solid #dbdbdb;
}

.ads div {
    width: 300px;
    height: 250px;
    display: block;
    background: #f2f2f2;
    margin: 16px 0;
}

footer {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    height: 42px;
    background: #333;
    color: #b9b9b9;
    padding: 14px 64px;
}

footer p {
    font-size: 0.7rem;
    width: 50%;
    display: inline-block;
    float: left;
}


@media(max-width:768px) {

    footer {
        height: 52px;
        padding: 14px 8px;
    }

    footer p {
        font-size: 0.6rem;
        width: 100%;
        display: block;
        float: initial !important;
        text-align: center !important;
    }
}
